@import "../../../utils/colorPalette"
@import "../../../utils/animationTimer"

.blogPostStyle
  h1,h2,h3,h4,h5,h6,p,pre
    margin: 1.5rem 0
  p
    font-size: 1rem
    line-height: 1.625rem

  h1
    font-weight: bolder
    font-size: 1.5rem
    line-height: 1.9rem
  h2
    font-weight: bold
    font-size: 1.25rem
    line-height: 1.65rem

  h3
    font-size: 1.125rem
    font-weight: bolder
    line-height: 1.525rem

  h4
    margin-block-start: 1rem // margin between single image Media Carousel
    font-size: 1rem
    line-height: 1.4rem 
  h5
    font-size: 0.875rem
    line-height: 1.275rem
  h6
    color: $grey
    font-size: 0.75rem
    line-height: 1.125rem
  code
    color: $dark-blue
    transition: color $colorTransitionDuration linear
    transition-delay: $transitionDelay

  pre
    background-color: $pale-grey !important
    border: 1px solid rgb(226, 232, 240)
    border-radius: 0.5rem
    padding: 1rem !important
    -webkit-transition: $backgroundTransition
    -moz-transition: $backgroundTransition
    transition: $backgroundTransition
    transition-delay: $transitionDelay


  blockquote
    background: $pale-grey
    border-left: 10px solid $light-grey
    margin: 1.5em 0
    padding: 0.5em 10px
    transition: background-color $colorTransitionDuration linear
    p
      margin-top: 0
      margin-bottom: 10px
  blockquote:before
    color: $light-grey
    content: open-quote
    font-size: 4em
    line-height: 0.1em
    margin-right: 0.25em
    vertical-align: -0.28em
  blockquote:after
    color: $light-grey
    content: close-quote
    font-size: 4em
    line-height: 0.8em
    float: right

  ul
    padding: 0 1rem 
    margin-bottom: 1.5rem
    li
      list-style-type: circle
      font-size: 0.9rem
      padding: 0 0.5rem
      font-weight: 500
      text-align: left
    li::before
      display: inline-block
      font-size: 1rem
      width: 1em

  ol
    padding: 0 1rem
    margin-bottom: 1.5rem
    li
      font-size: 0.9rem
      padding: 0 0.5em
      font-weight: 500
      text-align: left

    li::after
      display: inline-block
      
.blogPostDarkStyle
  a
    color: $sky-blue
    &:hover
      color: $blue
  code
    color: $sky-blue
  pre
    background: $space-grey
  blockquote
    background: $space-black
    border-left: 10px solid $dark-grey
